<!DOCTYPE html>
<html>
  <head>
  <%- include("./head.ejs"); %>

  <body>
    <%- include("./header.ejs"); %>
    <main>
        <% if (locals.user) {%>
          <h1>WELCOME BACK <%= user.username %></h1>
          <a href="/log-out">LOG OUT</a>
          <a href="/files/new">Upload file</a>
        <% } else { %>
        <h1>Welcome to <strong>File Uploader</strong>!</h1>
        <p>in this site you will be able to create folders and upload files to them!</p>
        <p>To start please Sign up</p>
        <a href="/login" class="btn-white">Login</a>
        <a href="/sign-up" class="btn-green">Sign Up</a>
        <% } %> 
    </main>
  </body>
</html>
